@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Josefin+Sans&family=Lato:ital,wght@0,400;1,300;1,400&family=Lora:ital@1&family=Montserrat:ital@1&family=Onest&family=Poppins:ital,wght@1,300&family=Roboto+Slab:wght@500;600&display=swap');


body{
    font-family: "Lato", sans-serif;
    background-image: linear-gradient(to right, rgb(178, 178, 197), rgb(233, 233, 221));
}

#cabeca {
    margin-bottom: 10px;
    overflow: auto;
}


#cabeca h1 {
    margin-left: 160px;
    float: left;
    font-size: 1.8em;
    font-family: "Ubuntu", sans-serif;
}

#cabeca a{
    float: right;
    text-decoration: none;
    color: rgb(107, 107, 107);
    padding: 10px;
    margin: 15px;
    font-size: 19px;
    font-family: 'Poppins', sans-serigf, 'Roboto Slab', serif;
    border: 2px solid rgb(134, 134, 134);
}

#cabeca a:hover{
    color: rgb(45, 45, 103);
}

hr{
    margin-top: -10px;
}

#content{
    font-family: 'Poppins', sans-serigf, 'Roboto Slab', serif;
    margin-top: 120px;
    margin-left: 150px;
    font-size: 40px;
    position: relative;
    display: inline-block;
}

#content::before {
    content: '';
    position: absolute;
    width: 270px;
    height: 270px;
    background-color: #777373;
    border-radius: 50%;
    left: 70px; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    z-index: -1;
}

p{
    margin-left: 155px;
    line-height: 0.5px;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serigf, 'Roboto Slab', serif;
    font-family: 'Poppins', sans-serigf, 'Roboto Slab', serif;
}

.container {
    position: relative;
    margin-left: 1070px;
    top: 65%; 
    right: 100px;
    transform: translateY(-50%);
}

.bola {
    position: relative;
    width: 270px; 
    height: 270px; 
    background-color: rgb(142, 142, 160); 
    border-radius: 50%; 
}
  
.texto {
    position: absolute;
    top: 100px;
    right: 120px; 
    font-size: 1.8em;
    font-family: 'Poppins', sans-serigf, 'Roboto Slab', serif;
    font-family: 'Poppins', sans-serigf, 'Roboto Slab', serif;
    white-space: nowrap;
}

img{
    margin-top: -40px;
    margin-left: 30px;
    height: 200px;
    width: 300px;
    border-radius: 190%;
}

#content2{
    font-family: 'Poppins', sans-serigf, 'Roboto Slab', serif;
    margin-top: 100px;
    margin-left: 130px;
    font-size: 40px;
    font-weight: 500;
    position: relative;
    display: inline-block;
}

#content2::before{
    content: '';
    position: absolute;
    width: 270px;
    height: 270px;
    background-color: #777373;
    border-radius: 50%;
    left: 70px; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    z-index: -1
}


#container2 {
    position: relative;
    margin-left: 1070px;
    top: 65%; 
    right: 100px;
    transform: translateY(-50%);
}

#bola2 {
    position: relative;
    width: 270px; 
    height: 270px; 
    background-color: rgb(142, 142, 160); 
    border-radius: 50%;
} 

#texto2{
    position: absolute;
    top: 100px;
    right: 120px; 
    font-size: 1.8em;
    font-family: 'Poppins', sans-serigf, 'Roboto Slab', serif;
    font-family: 'Poppins', sans-serigf, 'Roboto Slab', serif;
    white-space: nowrap;
}



  
  